/* Base styles for larger screens */
@media (min-width: 750px) {
    .link-text {
        display: inline;
    }

    .nav-links a i {
        display: none;
    }
}

@media only screen and (max-width: 650px) {

    #home, #about, #projects {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    #home h1, p {
        margin-bottom: 1rem;
    }

    #home-img {
        width: max(calc(100vw - 5px), 530px); /* Reduce image width gradually as screen width decreases */
    }

    #home-text {
        line-height: 1.5rem;
        margin-top: 1rem;
        text-align: left;
        font-size: 1rem;
    }

    .about-text {
        line-height: 1.5rem;
        font-size: 1rem;
        margin-right: 0px;
    }
    .about-text h1, p {
        margin-bottom: 1rem;
    }

    #about {
        margin-top: 1rem;
        line-height: 1.5;
    }

    .nav-links {
        gap: 0.5rem;
        list-style: none;
        font-size: 1.2rem;
    }
    .logo {
        font-size: 1.1rem;
    }
    footer {
        font-size: 0.9rem;
        /*margin-bottom: 0.1rem;*/
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (max-width: 750px) {
    .link-text {
        display: none;
    }

    .nav-links a i {
        display: inline;
        font-size: 1.2rem;
    }

    .nav-links {
        flex-direction: row;
    }

    .nav-links li {
        margin: 0.5rem 0;
    }
}

@media (max-width: 1000px) {
    .about-section {
        flex-direction: column; /* Change flex-direction to column */
    }

    .projects-container {
        
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 40px;
        justify-content: center;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 50px;
    }
}


@media only screen and (max-width: 750px) {

    #projects {
        margin-top: 0.4rem;
        font-size: 1rem;
    }

    #projects h1{
        margin-bottom: 1rem;
    }

    #description{
        margin: 0 0 50px 0; /* top right bottom left*/
        text-align: left;
        line-height: 1.4rem;
        margin-bottom: 50px;
    }

    .projects-container {
        grid-template-columns: 1fr;
        gap: 20px;
        flex-direction: column;
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .project-card {
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 2px;
        background: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        max-width: 500px;
    }
    
    .project-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 12px;
    }
    
    .project-header .icon {
        font-size: 1.2em;
    }
    
    .project-header .project-type {
        font-size: 0.9em;
        font-weight: bold;
        color: #666;
    }
    
    .project-header .project-date {
        font-size: 0.8em;
        color: #aaa;
    }
    
    .project-card h3 {
        font-size: 1.2em;
        margin: 8px 0;
        font-weight: bold;
    }
    
    .project-card p {
        font-size: 0.9em;
        color: #333;
        line-height: 1.5;
    }
    
    .project-card .blog-link {
        color: #d50000;
        text-decoration: underline;
        font-weight: bold;
    }
    
    .tags {
        display: flex;
        gap: 12px;
        margin-top: 16px;
        font-family: "Inconsolata", serif;
    }
    
    .tag {
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 0.85em;
        padding: 0.5px 10px;
        border-radius: 20px;
        background: #f0f0f0;
        color: grey;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    .tag-icon {
        font-size: 0.7em;
    }
    
    footer {
        font-size: 0.9rem;
        /*margin-bottom: 0.1rem;*/
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .tag-buttons {
        display: flex;
        flex-wrap: wrap; /* Enables wrapping of tags */
        width: 300px; /* Constrains the total width of the flex container */
        gap: 12px; /* Spacing between tags */
        margin-top: 16px;
        margin-bottom: 30px;
        justify-content: left; /* Optional: Align the grid to the center */
        
    }
    
    .tag-button {
        display: flex;
        align-items: center;
        justify-content: left; /* Centers content inside the tag */
        gap: 6px; /* Space between icon and text */
        font-size: 0.85em;
        height: 25px; /* Sets a consistent height for each tag */
        border-radius: 20px;
        background: #f0f0f0;
        color: grey;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border: none;
        text-align: center; /* Ensures text is centered */
        overflow: hidden; /* Prevents text overflow */
        white-space: nowrap; /* Prevents wrapping of text inside the tag */
        font-family: "Inconsolata", serif;
        padding: 6px 10px;
    }
}