@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: Montserrat, sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: black;
}

.header-left h1 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: normal;
}

.header-left h1 a {
    text-decoration: none;
    color: black;
}

.header-right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header-right ul li {
    margin-left: 0px;
}

.header-right ul li a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: transform 0.3s ease;
}

.header-right ul li a:hover {
    color: grey;
}

.divider {
    margin-left: 2px;
    margin-right: 2px;
    border-right: 1px solid lightgrey;
}

main {
    padding: 4rem; /* Adjusted padding for better spacing */
}

main #home h2, main #about h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: black;
}

main h3 {
    color: black;
}

main p {
    line-height: 1.6;
}

main img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 1.5rem auto;
}

main a {
    color: grey;
    text-decoration: none;
}

main a:hover {
    color: black;
}

.about-content {
    display: flex;
    flex-direction: row;
}

.about-text {
    flex: 1;
    margin-right: 30px; /* Add right margin to create gap */
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.about-image img {
    max-width: 100%;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
    main {
        padding: 2rem 1rem; /* Adjust padding for smaller screens */
    }

    #home,
    #about {
        margin: 1rem 0.5rem; /* Adjust margin for smaller screens */
    }

    .about-content {
        flex-direction: column; /* Stack content vertically */
        margin: 0; /* Remove margin */
    }

    .about-text {
        margin-right: 0; /* Remove right margin */
    }

    .about-image {
        justify-content: center; /* Center image */
        margin-bottom: 5rem
    }

    .header-right ul li a span {
        display: none;
    }

    .header-right ul li a::before {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        margin-right: 5px;
    }

    #about-link::before {
        content: '\f406';
    }

    #resume-link::before {
        content: '\f15c';
    }

    #linkedin-icon::before {
        content: '\f0e1';
    }
}

footer {
    text-align: left;
    margin-top: 18rem; /* Adjusted margin for better spacing */
    margin-left: 10px; /* Adjust left margin as needed */
    padding-left: 1rem; /* Adjusted left padding */
    color: black;
}

#about {
    display: none;
    margin: 0;
}

.line-by-line {
    opacity: 0;
    animation: fadeInLineByLine 0.5s ease forwards;
}


@keyframes fadeInLineByLine {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
